<a href="https://colab.research.google.com/github/rachanrv/Hackmaster/blob/master/SP500_Companies.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
import numpy as np
import pandas as pd
pd.core.common.is_list_like = pd.api.types.is_list_like
import matplotlib.pyplot as plt
import datetime as dt
import pandas_datareader as pdr
% matplotlib inline

/usr/local/lib/python3.6/dist-packages/pandas_datareader/compat/__init__.py:7: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  from pandas.util.testing import assert_frame_equal

In [ ]:
!pip install fix_yahoo_finance

Requirement already satisfied: fix_yahoo_finance in /usr/local/lib/python3.6/dist-packages (0.0.22)
Requirement already satisfied: pandas in /usr/local/lib/python3.6/dist-packages (from fix_yahoo_finance) (1.0.5)
Requirement already satisfied: multitasking in /usr/local/lib/python3.6/dist-packages (from fix_yahoo_finance) (0.0.9)
Requirement already satisfied: requests in /usr/local/lib/python3.6/dist-packages (from fix_yahoo_finance) (2.23.0)
Requirement already satisfied: numpy in /usr/local/lib/python3.6/dist-packages (from fix_yahoo_finance) (1.18.5)
Requirement already satisfied: python-dateutil>=2.6.1 in /usr/local/lib/python3.6/dist-packages (from pandas->fix_yahoo_finance) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas->fix_yahoo_finance) (2018.9)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests->fix_yahoo_finance) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests->fix_yahoo_finance) (2020.6.20)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests->fix_yahoo_finance) (1.24.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests->fix_yahoo_finance) (2.10)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.6/dist-packages (from python-dateutil>=2.6.1->pandas->fix_yahoo_finance) (1.15.0)

In [ ]:
import fix_yahoo_finance as fyf
from pandas_datareader import data as pdr

In [ ]:
fyf.pdr_override()

In [ ]:
payload=pd.read_html('https://en.wikipedia.org/wiki/List_of_S%26P_500_companies')
first_table = payload[0]
second_table = payload[1]

sp = first_table
sp

    Symbol                Security  ...      CIK      Founded
0      MMM              3M Company  ...    66740         1902
1      ABT     Abbott Laboratories  ...     1800         1888
2     ABBV             AbbVie Inc.  ...  1551152  2013 (1888)
3     ABMD             ABIOMED Inc  ...   815094         1981
4      ACN           Accenture plc  ...  1467373         1989
..     ...                     ...  ...      ...          ...
500    YUM         Yum! Brands Inc  ...  1041061         1997
501   ZBRA      Zebra Technologies  ...   877212         1969
502    ZBH  Zimmer Biomet Holdings  ...  1136869         1927
503   ZION           Zions Bancorp  ...   109380         1873
504    ZTS                  Zoetis  ...  1555280         1952

[505 rows x 9 columns]

In [ ]:
S1=sp[['Symbol','GICS Sector']]
S1.reset_index()
S1.set_index(['GICS Sector'],inplace=True)
S1.sort_index(axis=0)
S1

                       Symbol
GICS Sector
Industrials               MMM
Health Care               ABT
Health Care              ABBV
Health Care              ABMD
Information Technology    ACN
...                       ...
Consumer Discretionary    YUM
Information Technology   ZBRA
Health Care               ZBH
Financials               ZION
Health Care               ZTS

[505 rows x 1 columns]

In [ ]:
sectors=sp['GICS Sector']
sectors=sectors[sectors.duplicated(keep=False)]
sectors=sectors.drop_duplicates()

# Industrials

In [ ]:
def stock(I,s):
  I=I.reset_index()
  I=I.loc[:,'Symbol']
  d=[]
  for x in I:
    x=str(x)
    d.append(x)
  data1 = pdr.get_data_yahoo(d,start='2019-12-01')
  data1=data1['Adj Close'][d]
  returns=pd.DataFrame.pct_change(data1)
  returns=returns.iloc[1:,:]
  returns=returns.reset_index()
  returns['Date'] = pd.to_datetime(returns['Date'])
  returns['Month'] = returns['Date'].dt.month
  returns['Year'] = returns['Date'].dt.year
  returns['Month-str'] = returns['Date'].dt.strftime('%b')
  df=returns.groupby(['Month','Month-str','Year']).mean()
  df1=pd.DataFrame()
  df1['Average Stock Price change']=df[d].mean(axis=1)
  df1['Average Stock Price change']=df1['Average Stock Price change']*100
  df1['Sector']=s
  return df1

In [ ]:
I=S1.loc['Industrials','Symbol']

In [ ]:
i1=stock(I,'Industrials')

[*********************100%***********************]  73 of 73 downloaded

In [ ]:
HC=S1.loc['Health Care','Symbol']

In [ ]:
hc1=stock(HC,'Health Care')

[*********************100%***********************]  62 of 62 downloaded

In [ ]:
IT=S1.loc['Information Technology','Symbol']

In [ ]:
it1=stock(IT,'Information Technology')

[*********************100%***********************]  70 of 70 downloaded

In [ ]:
C=S1.loc['Communication Services','Symbol']

In [ ]:
c1=stock(C,'Communication Services')

[*********************100%***********************]  26 of 26 downloaded

In [ ]:
CD=S1.loc['Consumer Discretionary','Symbol']

In [ ]:
cd1=stock(CD,'Consumer Discretionary')

[*********************100%***********************]  61 of 61 downloaded

In [ ]:
U=S1.loc['Utilities','Symbol']

In [ ]:
u1=stock(U,'Utilities')

[*********************100%***********************]  28 of 28 downloaded

In [ ]:
F=S1.loc['Financials','Symbol']
F=F.reset_index()
for x in range(len(F)):
  if F.loc[x,'Symbol']=='BRK.B':
    F.loc[x,'Symbol']='BRKB'

success

In [ ]:
f1=stock(F,'Financials')

[*********************100%***********************]  66 of 66 downloaded

In [ ]:
M=S1.loc['Materials','Symbol']

In [ ]:
m1=stock(M,'Materials')

[*********************100%***********************]  28 of 28 downloaded

In [ ]:
RE=S1.loc['Real Estate','Symbol']

In [ ]:
re1=stock(RE,'Real Estate')

[*********************100%***********************]  31 of 31 downloaded

In [ ]:
CS=S1.loc['Consumer Staples','Symbol']
CS=CS.reset_index()
for x in range(len(CS)):
  if CS.loc[x,'Symbol']=='BF.B':
    CS.loc[x,'Symbol']='BFB'

In [ ]:
cs1=stock(CS,'Consumer Staples')

[*********************100%***********************]  33 of 33 downloaded

In [ ]:
E=S1.loc['Energy','Symbol']

In [ ]:
e1=stock(E,'Energy')

[*********************100%***********************]  26 of 26 downloaded

In [ ]:
stockdata=pd.DataFrame()
stockdata = stockdata.append(i1)
stockdata = stockdata.append(hc1)
stockdata = stockdata.append(it1)
stockdata = stockdata.append(c1)
stockdata = stockdata.append(cd1)
stockdata = stockdata.append(u1)
stockdata = stockdata.append(f1)
stockdata = stockdata.append(m1)
stockdata = stockdata.append(re1)
stockdata = stockdata.append(cs1)
stockdata = stockdata.append(e1)
#stockdata.to_csv("/content/drive/Shared drives/Build with AI/Stockdataset.csv")
stockdata

                      Average Stock Price change       Sector
Month Month-str Year
1     Jan       2020                   -0.042746  Industrials
2     Feb       2020                   -0.463920  Industrials
3     Mar       2020                   -0.608095  Industrials
4     Apr       2020                    0.490705  Industrials
5     May       2020                    0.362509  Industrials
...                                          ...          ...
4     Apr       2020                    1.902764       Energy
5     May       2020                    0.074218       Energy
6     Jun       2020                    0.173903       Energy
7     Jul       2020                    0.090911       Energy
12    Dec       2019                    0.515306       Energy

[88 rows x 2 columns]